#app {
  width: 400px;
  height: 800px;
  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    .field {
      padding: 0;
      width: calc(50% - 12px);
      height: calc(25% - 12px);
      border: 1px solid #000;
      margin: 5px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      box-sizing: border-box;
      .cell {
        text-align: center;
        vertical-align: middle;
        flex-basis: 10%;
        &.clickable {
          cursor: pointer;
        }
      }
    }
  }
}